.container {
  padding: 32px;
  padding-bottom: 111px;
}
.heading {
  padding-bottom: 24px;
}
.container > ul {
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 6px 8px;
}
.container > ul > li {
  width: 33%;
}
.container > ul > li > button {
  width: 100%;
}
.navItem > :global(.active) {
  border-radius: 36px;
  background-color: #000 !important;
}
.tabPane {
  position: relative;
}
.tabPane :global(.slick-dots) {
  text-align: left;
  bottom: -45px;
}
.tabPane :global(.slick-prev),
.tabPane :global(.slick-next) {
  bottom: -55px;
  top: auto;
  left: auto;
  right: 0;
  background-color: transparent;
  z-index: 999;
}
.tabPane :global(.slick-prev)::before,
.tabPane :global(.slick-next)::before {
  background-image: url("../../images/arrows.svg");
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background-size: 10px 20px;
}
.tabPane :global(.slick-prev) {
  right: 30px;
}
.tabPane :global(.slick-prev)::before {
  transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 40px 16px;
  }
  .tabPane :global(.slick-dots) {
    display: none !important;
  }
  .tabPane :global(.slick-prev),
  .tabPane :global(.slick-next) {
    display: none !important;
  }
  .container > ul {
    padding: 4px;
  }
}
