.container{
    padding: 32px;
}
.container > ul{
    background-color: #F6F6F6;
    border-radius: 40px;
}
.container > div{
    width: 1122px;
}
.navItem > .active{
    border-radius: 36px;
    background-color: #000;
}
.tabPane .slick-dots{
    text-align: left;
}