.header{
    height: 60px;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}
.innerHeader{
    width: 1140px;
}
.innerHeader > *{
    cursor: pointer;
}
.headerLinks li{
    display: inline-block;
    padding-right: 32px;
    color:#fff;
}
.actionBar{
    width: 168px;
}
.actionBar div{
    display: inline-block;
}