.itemContainer {
  display: inline-block;
  width: 346px;
  margin-right: 30px;
  position: relative;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.itemContainer figure {
  margin: 0;
}
.itemContainer figcaption {
  font-size: var(--h3FontSize);
  font-weight: 800;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.rating {
  width: 58px;
  height: 24px;
  background-color: #000;
  color: #fff;
  font-size: var(--bodyFontSize);
  font-weight: 500;
  top: -12px;
  position: absolute;
  left: -2px;
}
.rating span {
  color: #ffc043;
  font-size: 20px;
  padding-right: 4px;
}
.productTag {
  width: 99px;
  height: 24px;
  background-color: #66509a;
  color: #fff;
  font-size: var(--bodyFontSize);
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: -2px;
}
.forWidth {
  background-color: #f6f6f6;
  min-height: 24px;
  font-family: "Hack", sans-serif;
}
.forWidth > span {
  display: inline-block;
  height: 24px;
  padding: 0 16px;
  border-left: 1px solid #e6eaea;
}
.forWidth > span:first-child {
  font-size: var(--bodyFontSize);
  font-weight: 700;
  line-height: 16.3px;
  padding: 0 16px;
  border-left: none;
}
.forWidth > span {
  display: inline-block;
}
.forWidth > span {
  display: inline-block;
  padding-left: 16px;
  border-left: 1px solid #e6eaea;
}
.btnGroup {
  width: 100%;
}
.btnGroup > button {
  width: 50%;
  font-size: var(--bodyFontSize);
  font-weight: 500;
  line-height: 16px;
  border: 0;
  height: 40px;
}
.btnGroup > button:first-child {
  background-color: #eee;
  color: #000;
}
.btnGroup > button:last-child {
  background-color: #000;
  color: #fff;
}
.productPrice {
  padding: 15px 0;
  padding-left: 16px;
}
.productPrice span {
  font-weight: 800;
}
span.oldPrice {
  font-size: var(--noteFontSize);
  color: #828282;
  font-weight: 500;
  padding-left: 8px;
  text-decoration: line-through;
}
.discount {
  padding-left: 16px;
  color: #09864a;
}

@media only screen and (max-width: 767px) {
  .itemContainer {
    width: 280px;
    margin-right: 24px;
  }
}
